.portfolio {
    margin-left: 30%;
    width: 75%;
    display: inline-block;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif'
}

.title {
    color: white;
    text-decoration: none;
}

.title:hover {
    background-color: rgba(79, 82, 82, 0.509);
}
