.header {
    height: 150px;
    background-image: url('../../images/header.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.name {
   font-size: x-large;
}

ul {
    display: inline-flex;
    list-style: none;
    
}

li {
    font-size: larger;
    margin-right: 30px;
}

li:hover {
 cursor: pointer;
 color:rgb(5, 134, 134);
}

