.header {
    height: 150px;
    background-image: url('images.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.name {
   font-size: 40px;
   text-shadow: 2px 2px #f2f2f2;
   
}

ul {
    font-size: 30px;
    display: inline-flex;
    list-style: none;
    text-shadow: 1px 1px #f2f2f2;
    font-weight: 10px;
    
}

li {
    font-size: larger;
    margin-right: 30px;
}

li:hover {
 cursor: pointer;
 color:rgb(68, 165, 225);
}

